@model IEnumerable<RecipeBook.DataAccess.Models.Recipe>

@{
    ViewData["Title"] = "Add Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add recipe</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @using (Html.BeginForm("AddRecipe", "Books", FormMethod.Post))
                    {
                        <input type="hidden" name="BookID" value="@ViewBag.BookID" />
                        <input type="hidden" name="RecipeID" value="@item.ID" />

                        <button type="submit" class="btn btn-primary">Add</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
